.about{
    padding: 120px 100px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    &__photo {
        width: 40px;
        height: 100%;
    }
    &__descr {
        width:570px;
        min-height: 530px;
        display: grid;
        grid-template: 1fr repeat(2, 120px) / repeat(2, 260px);
        row-gap: 20px;
        column-gap: 50px;
    }
}